<div class="card-body">
    <p><strong>Jak zpracováváme Vaše osobní údaje?</strong></p>
    <p>&nbsp;</p>
    <p>Společnosti Manapipes s.r.o., IČ: 06731121, se sídlem Rybná 716/24, Staré Město, 110 00 Praha 1, kontaktní email: info@manapipes.com, (&bdquo;<strong>MANAPIPES</strong>") záleží na ochraně Vašich osobních údajů, proto si prosím přečtěte, jak MANAPIPES zpracovává Vaše osobní údaje, jak s&nbsp;nimi nakládá a jak je chrání.</p>
    <p>&nbsp;</p>
    <p>Vaše osobní údaje zpracováváme v&nbsp;případě, že jste zákazníkem, návštěvníkem webových stránek nebo uživatelem aplikace MANAPIPES.</p>
    <p>&nbsp;</p>
    <p><strong>Jaké moje osobní údaje zpracováváte?</strong></p>
    <p>&nbsp;</p>
    <p>Zejména ty, které potřebujeme pro splnění smlouvy uzavřené na základě Vaší objednávky, tedy identifikační údaje jako je například Vaše jméno, příjmení, doručovací adresa, případně adresa trvalého pobytu, telefonní číslo a e-mailová adresa.</p>
    <p>&nbsp;</p>
    <p>Pokud používáte naši aplikaci, pak zpracováváme i osobní údaje, které souvisí s&nbsp;používáním vodní dýmky a aplikace, jako například gramáž tabáku, druh tabáku, počet použitých uhlíků a další informace o kouření vodní dýmky. Dále sbíráme pro plnou funkčnost aplikace údaje o tom, jak vodní dýmku kouříte &ndash; tedy čas, délku potáhnutí apod.</p>
    <p>&nbsp;</p>
    <p>Pokud jste návštěvníkem webových stránek společnosti, zpracováváme osobní údaje týkající se Vašeho chování na našich stránkách a případně další online identifikátory, jako je IP adresa nebo cookies.</p>
    <p>&nbsp;</p>
    <p><strong>Proč moje osobní údaje zpracováváte?</strong></p>
    <p>&nbsp;</p>
    <p>Vaše osobní údaje zpracováváme z&nbsp;několika důvodů, které Vám níže popíšeme. Každý z&nbsp;uvedených důvodů však musí být podložen ještě právním základem zpracování, aby bylo zpracování osobních údajů společností zákonné a v&nbsp;souladu s&nbsp;příslušnými právními předpisy.</p>
    <p>&nbsp;</p>
    <p>Mezi důvody, nebo také účely, za jakými osobní údaje zpracováváme, patří zejména následující:</p>
    <ul>
        <li>abychom Vám mohli poskytnout služby, které si domluvíme,</li>
        <li>pokud jste naším obchodním partnerem, abychom Vás mohli kontaktovat a efektivně s&nbsp;Vámi komunikovat ve věci naší spolupráce,</li>
        <li>abychom Vás mohli kontaktovat s&nbsp;nabízením služeb a informovat o akcích a novinkách,</li>
        <li>abychom Vám mohli poskytnout lepší zážitek z&nbsp;návštěvy našich stránek,</li>
        <li>abychom Vám mohli umožnit plně funkční používání naší aplikace</li>
        <li>abychom mohli nabídku, kterou poskytujeme, přizpůsobovat Vašim potřebám.</li>
    </ul>
    <p>&nbsp;</p>
    <p>Abychom mohli zpracovávat osobní údaje pro výše uvedené účely, uzavřeli jsme s&nbsp;Vámi smlouvu, nebo provádíme opatření před uzavřením smlouvy na Vaši žádost, případně jsme získali Váš souhlas nebo jde o oprávněný zájem společnosti. Oprávněný zájem společnosti může být:</p>
    <ul>
        <li>zlepšení nabídky služeb na webových stránkách na základě monitorování chování na webových stránkách,</li>
        <li>ochrana práv společnosti, a</li>
        <li>určení, výkon nebo obhajoba právních nároků.</li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>Musím Vám osobní údaje poskytnout?</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p>Občas zpracováváme osobní údaje pro účely, pro které není nezbytné nám tyto údaje poskytnout. Pokud však chceme takové údaje které nutně nepotřebujeme k&nbsp;zajištění našich služeb zpracovávat, potřebujeme Váš souhlas. Pokud však chcete využívat naše služby a aplikaci, Vaše osobní údaje potřebujeme, abychom Vám mohli služby poskytovat. Bez toho to bohužel nepůjde.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>Jak dlouho budete moje osobní údaje uchovávat?</strong></p>
    <p>&nbsp;</p>
    <p>Podle příslušných právních předpisů jsme povinni uchovávat např. daňové doklady po dobu až 10 let od konce zdaňovacího období, ve kterém se plnění uskutečnilo. I po dodání zboží na Vaši adresu je tedy třeba uchovávat Vaše osobní údaje z&nbsp;důvodu např. odstoupení od smlouvy, reklamace, uplatňování náhrady škody, a to po dobu 5 let od uzavření smlouvy. Proto např. nemůžeme všechny Vaše osobní údaje smazat hned po odeslání zboží na Vaši adresu ani bezprostředně po Vaší žádosti o výmaz osobních údajů.</p>
    <p>&nbsp;</p>
    <p>Osobní údaje, které ale souvisejí s&nbsp;Vaším uživatelským účtem v&nbsp;naší aplikaci zpracováváme do té doby, než je Vy sami vymažete. Po tom, co dáte k&nbsp;takovému výmazu příkaz, je mi bezodkladně beze zbytku zničíme.</p>
    <p>&nbsp;</p>
    <p><strong>Mohou být mé osobní údaje zneužity?</strong></p>
    <p>&nbsp;</p>
    <p>Přijali jsme veškerá možná opatření, aby ke zneužití nebo úniku Vašich osobních údajů nedošlo. K&nbsp;Vašim osobním údajům má přístup pouze omezený počet osob, jež jsou vázány povinností mlčenlivosti, Vaše osobní údaje jsou vhodným způsobem organizačně a technicky zabezpečeny, tedy výpočetní technika je chráněna přístupovými hesly a antivirovým systémem, v&nbsp;písemné podobě jsou Vaše osobní údaje chráněny i fyzickým zabezpečením, tedy v&nbsp;uzamčených prostorách mimo dosah nepovolaných osob. K&nbsp;úniku nebo zneužití Vašich osobních údajů by tedy dojít nemělo.</p>
    <p>&nbsp;</p>
    <p><strong>Předáváte mé osobní údaje nějakým dalším osobám?</strong></p>
    <p>&nbsp;</p>
    <p>K&nbsp;zajištění chodu naší společnosti předáváme Vaše fakturační údaje externí účetní, případně externím poskytovatelům IT infrastruktury (Cloud). Tito externí zpracovatelé jsou povinni chránit Vaše osobní údaje stejným způsobem jako my, tedy v&nbsp;souladu s&nbsp;platnými právními předpisy. Žádná další třetí osoba k&nbsp;Vašim osobním údajům přístup nemá.</p>
    <p>&nbsp;</p>
    <p><strong>Mám nějaká práva v&nbsp;souvislosti se zpracováním osobních údajů?</strong></p>
    <p>&nbsp;</p>
    <p>Samozřejmě, náleží Vám veškerá práva, jež Vám přiznávají právní předpisy. Máte možnost nás požádat, abychom Vám sdělili, jaké Vaše osobní údaje zpracováváme a k&nbsp;těmto údajům Vám může být umožněn i přístup, tedy poskytnuta kopie zpracovávaných osobních údajů. Můžete po nás požadovat také opravu nepřesných nebo doplnění neúplných osobních údajů. Rovněž nás můžete požádat o výmaz Vašich osobních údajů, za určitých podmínek jsme povinni pak tyto osobní údaje vymazat, ne však vždy, v&nbsp;některých případech si můžeme osobní údaje dále ponechat. Také máte za určitých podmínek právo požadovat omezení zpracování, např. pokud popíráte přesnost osobních údajů a my jejich přesnost ověřujeme. Pokud byste chtěl změnit poskytovatele služeb, případně předat osobní údaje dalšímu správci osobních údajů, máte za určitých podmínek právo na to, abychom Vám je poskytli ve strukturovaném, běžně používaném a strojově čitelném formátu. V&nbsp;případě, že máte podezření, že při zpracování Vašich osobních údajů porušujeme zákon, či jiné platné právní předpisy, máte možnost podat stížnost u úřadu na ochranu osobních údajů. Také máte právo nebýt předmětem automatizovaného individuálního rozhodování, to je však v&nbsp;aplikaci MANAPIPES jednou ze základních součástí formou získávaných Achievementů. Tyto Achievementy však lze vypnout, &nbsp;proto Vás pouze o tomto právu informujeme.</p>
    <p>&nbsp;</p>
    <p>Kromě výše uvedených práv máte ještě právo vznést námitku proti zpracování týkající se Vaší konkrétní situace, například, pokud zpracováváme Vaše osobní údaje pro naše oprávněné zájmy.</p>
    <p>&nbsp;</p>
    <p>V MANAPIPES dbáme o Vaše práva týkající se zpracování osobních údajů, proto Vám níže pro přehlednost přikládáme ještě tabulku, která zobrazuje, kdy máte na dané právo nárok a poskytuje Vám bližší informace.</p>
    <p>&nbsp;</p>
    <p><strong>Kde se dozvím o zpracování osobních údajů a mých právech více informací?</strong></p>
    <p>&nbsp;</p>
    <p>Další informace o zpracování Vašich osobních údajů můžete získat v&nbsp;našich Podmínkách zpracování osobních údajů a na kontaktní e-mailové adrese uvedené v&nbsp;záhlaví tohoto dokumentu.</p>
    <p>&nbsp;</p>
    <table class="table table-bordered table-responsive">
        <tbody>
            <tr>
                <td rowspan="2" width="8%">
                    <p><strong>Právní důvod</strong></p>
                </td>
                <td colspan="2" width="15%">
                    <p>Informování subjektu</p>
                </td>
                <td rowspan="2" width="6%">
                    <p>Právo na přístup</p>
                </td>
                <td rowspan="2" width="6%">
                    <p>Právo na opravu</p>
                </td>
                <td rowspan="2" width="7%">
                    <p>Právo na výmaz</p>
                </td>
                <td rowspan="2" width="8%">
                    <p>Právo na omezení zpracování</p>
                </td>
                <td rowspan="2" width="11%">
                    <p>Právo na přenositelnost</p>
                </td>
                <td rowspan="2" width="6%">
                    <p>Právo vznést námitku</p>
                </td>
                <td rowspan="2" width="29%">
                    <p>Právo nebýt podroben automatizovanému rozhodování</p>
                </td>
            </tr>
            <tr>
                <td width="7%">
                    <p>pokud jsou údaje získané od subjektu</p>
                </td>
                <td width="8%">
                    <p>pokud nejsou údaje získané přímo od subjektu</p>
                </td>
            </tr>
            <tr>
                <td width="8%">
                    <p><strong>Článek GDPR</strong></p>
                </td>
                <td width="7%">
                    <p>13</p>
                </td>
                <td width="8%">
                    <p>14</p>
                </td>
                <td width="6%">
                    <p>15</p>
                </td>
                <td width="6%">
                    <p>16</p>
                </td>
                <td width="7%">
                    <p>17</p>
                </td>
                <td width="8%">
                    <p>18</p>
                </td>
                <td width="11%">
                    <p>20</p>
                </td>
                <td width="6%">
                    <p>21</p>
                </td>
                <td width="29%">
                    <p>22</p>
                </td>
            </tr>
            <tr>
                <td width="8%">
                    <p><strong>Právní povinnost správce</strong></p>
                </td>
                <td width="7%">
                    <p>Ano</p>
                </td>
                <td width="8%">
                    <p>Ne, pokud je to stanoveno předpisem se zárukami</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="7%">
                    <p>Ne (do lhůty pro výmaz)</p>
                </td>
                <td width="8%">
                    <p>Ano</p>
                </td>
                <td width="11%">
                    <p>Ne</p>
                </td>
                <td width="6%">
                    <p>Ne</p>
                </td>
                <td width="29%">
                    <p>V případě, že není povoleno právním předpisem, tak ne</p>
                </td>
            </tr>
            <tr>
                <td width="8%">
                    <p><strong>Životně důležitý zájem subjektu</strong></p>
                </td>
                <td width="7%">
                    <p>Ne</p>
                </td>
                <td width="8%">
                    <p>Ne, pokud je to stanoveno předpisem se zárukami</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="7%">
                    <p>Ne (do lhůty pro výmaz)</p>
                </td>
                <td width="8%">
                    <p>Ano</p>
                </td>
                <td width="11%">
                    <p>Ne</p>
                </td>
                <td width="6%">
                    <p>Ne</p>
                </td>
                <td width="29%">
                    <p>V případě, že není povoleno právním předpisem, tak ne</p>
                </td>
            </tr>
            <tr>
                <td width="8%">
                    <p><strong>Souhlas subjektu</strong></p>
                </td>
                <td width="7%">
                    <p>Ano</p>
                </td>
                <td width="8%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="7%">
                    <p>Ano</p>
                </td>
                <td width="8%">
                    <p>Ano</p>
                </td>
                <td width="11%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ne</p>
                </td>
                <td width="29%">
                    <p>Dle znění souhlasu</p>
                </td>
            </tr>
            <tr>
                <td width="8%">
                    <p><strong>Plnění smlouvy</strong></p>
                </td>
                <td width="7%">
                    <p>Ano</p>
                </td>
                <td width="8%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="7%">
                    <p>Ano</p>
                </td>
                <td width="8%">
                    <p>Ano</p>
                </td>
                <td width="11%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ne</p>
                </td>
                <td width="29%">
                    <p>Ano</p>
                </td>
            </tr>
            <tr>
                <td width="8%">
                    <p><strong>Oprávněný zájem správce</strong></p>
                </td>
                <td width="7%">
                    <p>Ano</p>
                </td>
                <td width="8%">
                    <p>Ano, pokud to nepopírá smysl zpracování</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="7%">
                    <p>Ano, pokud nejde o ochranu právních nároků</p>
                </td>
                <td width="8%">
                    <p>Ano</p>
                </td>
                <td width="11%">
                    <p>Ne</p>
                </td>
                <td width="6%">
                    <p>Ano</p>
                </td>
                <td width="29%">
                    <p>Ano</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>