@using PagedList
@using smartHookah.Controllers
@model smartHookah.Controllers.MyMixesViewModel
@{
    ViewBag.Title = "Mix by " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>

    <div >
        <div class="card">
            <div class=" card-body list-group">
                @foreach (var mix in Model.Tobacco)
            {
                    @Html.Partial("_TobacoMixListItem", mix)
                }
            </div>
        </div>
            <div class="card">
                <div class="card-body">
                    @Html.Partial("_FilterTobaccoGrid", new TobaccoController.FilterTobaccoViewModel()
                {
                    PagedList = Model.Tobacco.ToPagedList(1, 10),
                    Filter = $"myMixes"

                })
                </div>
            </div>
       
    </div>



</div>
