@{
    ViewBag.Title = "All stands";
}
@model IEnumerable<smartHookah.Models.Db.Hookah>



<div class="card">
    <h1 class="card-header">List of stands & senzors</h1>
    <div class=" card-body list-group">
        @foreach (var hookah in Model)
        {
            var liveText = hookah.OnlineState ? "Live" : "Ready";
            var liveCss = hookah.OnlineState ? "btn-success" : "btn-info";
            <div class="list-group-item">
                <h3 class="list-group-item-heading"><b>@hookah.Name.ToString() </b><span class="pull-right">v.@Helper.UpdateVersionToString(hookah.Version)</span>
                </h3>
                <div class="row ">
                    <div class="col-sm-6">@Html.ActionLink(liveText, "Hookah", new { controller = "SmokeSession", id = hookah.Code }, new { @class = $"btn btn-sm {liveCss} btn-raised" })</div>
                    <div class="col-sm-6">@Html.ActionLink("History", "Index", new { controller = "SmokeSession", id = hookah.Id }, new { @class = "btn btn-sm btn-default btn-raised" })</div>
                </div>
            </div>

        }
    </div>
</div>