@model dynamic

@{
    ViewBag.Title = "Info";
}


<div class="card mb-2">
    <h4 class="card-header">Co je Manapipes?</h4>
    <div class="card-body">
        Inteligentní světelná podložka s online statistikou, přehledem veškerých aktivit v rámci posezení
        u nás a Vašeho profilu, kdy vše uvidíte přehledně na jednom místě. Manapipes vnáší do
        dýmkaření světlo. A to doslova, protože mimo data nabízí podložka více než 30 světelných
        animací, které reagují na tah, profouknutí a nečinnost dýmky. Vše navíc probíhá v reálném čase.
        Představujeme vám dýmkařský zážitek pro 21. století.
    </div>
</div>

<div class="card">
    <h4 class="card-header"> Jak funguje podložka?</h4>
    <div class="card-body">
        Do konektoru dýmky je umístěna přechodka, která zaznamenává Vaši dýmkařskou aktivitu a je
        kabelem propojena s podložkou. Podložka je umístěna pod vázou dýmky tak, aby ji celou
        prosvětlila. Již od prvního potáhnutí můžete obdivovat pestré animace a sledovat aktuální
        statistiky na displeji podložky a ve Vašich zařízeních (chytré telefony, nositelnosti, PC). Na displeji
        se zobrazuje i unikátní kód, po jehož zadání v aplikaci Manapipes získáte schopnost sledovat
        aktivitu dýmky a upravovat animace dle vkusu a nálady. O své dýmce nyní víte téměř vše!
        Vychutnejte si tento pocit spolu s kvalitně připravenou vodní dýmkou.
    </div>
</div>

<div class="card mb-2">
    <h4 class="card-header">   Co mohu s Manapipes vyvádět?</h4>
    <div class="card-body">
        <p>
            Jako neregistrovaní uživatelé máte přístup k Vaší aktivní dýmce a veřejným funkcím Manapipes.
            Je možné sledovat mnoho zajímavých statistik, například délku potáhnutí, přesnou dobu kouření
            či ucelené údaje o použité dýmce, tabáku, korunce, metodě přípravy a mnohé další. Pod kontrolou
            máte rovněž Vaši osobní světelnou show, která nabízí více než 42 tisíc animačních kombinací a 16
            milionů barevných odstínů. Mezi veřejné funkce patří také obrovská tabáková databáze, vybrané mixy podniků i recenzentů a databáze dýmkařských podniků, ve kterých můžete systém
            anapipes vyzkoušet.
        </p>
        <p>
            Registrovaní uživatelé mohou tvořit vlastní mixy, sledovat záznamy o všech svých dýmkařských
            aktivitách hodnotit a objednávat z podniků či vést inventář dýmek, tabáků a příslušenství. Vždy
            tak budeme mít přehled, co jste si u nás kdy dali a budete tak mít možnost si bez přemýšlení dát
            to co, Vám u nás opravdu chutnalo. Systém totiž také umožní si u nás objednat konkrétní sezení
            a dopředu si také rezervovat konkrétní dýmku a její konfiguraci.
            Dále mohou získávat ocenění, body, pozice v různých žebříčcích, zapojit se do mikroher a
            mnohem více. * Registrace je zdarma. Je toho skutečně velká spousta, co říkáte? Objevte nový
            dýmkařský zážitek, objevte Manapipes.
        </p>
    </div>
</div>


<div class="card mb-2">
    <h4 class="card-header"> Sdílej, hraj a hodnoť</h4>
    <div class="card-body">
        Jelikož v Manapipes věříme, že kouření vodní dýmky je společenská záležitost, svoji aktivitu
        můžete sdílet i s přáteli, kteří s Vámi zrovna nekouří. Sdílet je možné formou odkazů, zprávy či
        postů na sociální sítě přímo v prostředí Manapipes (tlačítko Sdílet v pravém dolním rohu rozhraní).
        Chcete se kamarádům pochlubit s rekordním potáhnutím? V reálném čase mohou sledovat váš
        výkon. Podařila se vám naprogramovat nádherná světelná kombinace? Zvěčněte ji a pochlubte
        se, pro tuto příležitost jsme pro vás připravili #manapipes. Zapojit se můžete také do dýmkařských
        aktivit a her, které oživí Vaše chvíle s vodní dýmkou. Celý zážitek můžete navíc ohodnotit a dát tak
        podniku i ostatním uživatelům zpětnou vazbu, jakou si zaslouží.
    </div>
</div>

<div class="card">
    <h4 class="card-header">  Chci Manapipes!</h4>
    <div class="card-body">
        Zaujal Vás systém Manapipes natolik, že uvažujete o jeho pořízení pro osobní potřebu? Zajímá
        Vás možnost pořízení systému pro Váš podnik? Navštivte naše webové stránky nebo kontaktujte
        na uvedených odkazech.
    </div>
</div>
<hr/>
*Pro využití některých funkcí je zapotřebí inteligentní podložky Manapipes.
