@{
    Layout = null;
}
<!DOCTYPE html>
<html manifest="@Url.Action("Manifest","Resources")" type="text/cache-manifest">
<head>
    <link rel="manifest" href="~/Content/manifest.json">
</head>
<body>
</body>
</html>