<div class="">
    <div class="row">
        <div class="col-xs-4 col-md-6" style="text-align: center;">
            <img src="~/Content/images/icons/icon-128x128.png"/>
        </div>
        <div class="col-xs-8 col-md-6" style="text-align: right">
            <h1>Nová úroveň dýmkaření</h1>
            <h5 class="btn btn-default btn-raised" style="background-color: white; margin-bottom: 10px;margin-top: 10px;" >zapoj se do manapipes!</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="text-align: center">
            <a class="btn btn-success btn-raised btn-lg" href="@Url.Action("Login","Account")">Registruj se</a>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li>Historie dýmkařské aktivity</li>
                <li>Rezervace míst v podnicích</li>
                <li>online objednávka vodních dýmek</li>
                <li>a spousta dalších vychytávek!</li>
            </ul>
        </div>
    </div>
   
</div>