@model int

@{
    ViewBag.Title = "Dakujeme";
   
}

<div class="card">
    <h4 class="card-header">Odpoved ulozená</h4>
    <div class="card-body">
        <h4>Vaša odpoved bola uložená </h4>
    </div>
</div>