@model smartHookah.Models.Person

@{
    ViewBag.Title = "CHC Hra";
}

<div class="card">
    <h4>Soutěž o podložku Manapipes</h4>

    <div class="card-body">
        @if (!Model.SmokeSessions.Any())
        {
            <h5>Prosim, prihlaste sa k najprv k session</h5>
            <p>
                Dajte pripojit , zadajte 5 miestny kód ktorý nájdete na displeji. Na stránke session kliknite na veľké zelené plus a hotovo.
            </p>
        }
        else
        {
            if (Model.Game == null)
            {
                using (Html.BeginForm("ChcGamePost", "Game", FormMethod.Post))
                {
                    <h5>S vsech )nirlen v ponuke) 2500 cca tabakov v databázy s chutovym profilom, kolko tabakov obsahuje mátu?</h5>
                    @Html.AntiForgeryToken()
                    ;
                    <div class="form-group">
                        <label>Odpoved</label>
                        <div class="col-md-10">
                            <input class="form-control" name="value" value="0" type="number" min="0"/>
                        </div>
                    </div>

                    <button class="btn btn-success btn-raised">Odoslať</button>
                }
            }
            else
            {
                <h5>Už ste typovali :)</h5>
            }
        }
    </div>
</div>