@using smartHookah.Helpers
@using smartHookah.Models
@using smartHookah.Models.Db
@model IEnumerable<smartHookah.Models.Db.SmokeSession>

<script type="text/javascript">
    function flip(ele) {
        $(ele).toggleClass('flipped');
    }
</script>

<div class="session-cards-grid">
    @foreach (SmokeSession modelSmokeSession in Model.OrderByDescending(a => a.Statistics.Start).Take(9))
    {
        @Html.Partial("~/Views/SmokeSession/_SmokeSessionCardItem.cshtml", modelSmokeSession)
    }
    
   
</div>

<div class="session-cards-grid" id="hidenSmokeSession" style="display: none">
    @foreach (SmokeSession modelSmokeSession in Model.OrderByDescending(a => a.Statistics.Start).Skip(9))
    {
        @Html.Partial("~/Views/SmokeSession/_SmokeSessionCardItem.cshtml", modelSmokeSession)
    }
</div>

@if (Model.OrderByDescending(a => a.Statistics.Start).Skip(9).Any())
{
                
<button class="btn btn-default btn-raised showBtn" onclick="ShowAll(true)">@LocalizationHelper.Translate("CardGridShowAll", "SmokeSession")<i class="fa fa-arrow-down"></i></button>
<button class="btn btn-default btn-raised showBtn" onclick="ShowAll(false)" style="display:none">@LocalizationHelper.Translate("CardGridHide", "SmokeSession") <i class="fa fa-arrow-up"></i></button>
                
}