@using smartHookah.Helpers
@model List<string>

<div>
    <label>@LocalizationHelper.Translate("MDSelectorTobaccoBrand", "SmokeSession")</label>
    <div class="input-group">
        @Html.DropDownList("tobacoBrand",new SelectList(Model.Select(a => new SelectListItem() {Value =  a,Text =  a})),new {id="tobacoBrand",@class="form-control", onchange = "LoadTobacco()" })
    </div>
    <label>@LocalizationHelper.Translate("MDSelectorTobaccoFlavor", "SmokeSession")</label>
    <div class="input-group disabled">
        <select id="tobacoFlavor" class="form-control">
            <option>@LocalizationHelper.Translate("None", "Common")</option>
        </select>
</div>
</div>
s