@model List<string>

<div>
    <label>Tobacco brand</label>
    <div class="input-group">
        @Html.DropDownList("tobacoBrand",new SelectList(Model.Select(a => new SelectListItem() {Value =  a,Text =  a})),new {id="tobacoBrand",@class="form-control", onchange = "LoadTobacco()" })
    </div>
    <label>Tobacco flavor</label>
    <div class="input-group disabled">
        <select id="tobacoFlavor" class="form-control">
            <option>None</option>
        </select>
</div>
</div>
